
<h1>User Index #admin</h1>
<p>
<%= link_to "Add New User", new_admin_user_path %>
</p>

<div><ul>
  <% @users.each do |user| %>
    <div><li>
      <%= link_to user.name, admin_user_path(user) %>
      <%= link_to "[Edit]", edit_admin_user_path(user)%>
      <%= link_to "[Delete]", admin_user_path(user), method: :delete, data: {confirm: "Sure?"} %>
    </li></div>
  <% end %>
</ul></div>
</table>
